<h2>Perfil</h2><br>

<label><b>Nome:</b></label><br>
<input type="text" name="nome" value="{{ medico?.nome }}" readonly><br><br>

<label><b>E-mail:</b></label><br>
<input type="text" name="nome" value="{{ medico?.usuario.email }}" readonly><br><br>

<label><b>Sexo:</b></label><br>
<input type="text" name="nome" value="{{ medico?.sexoStr }}" readonly><br><br>

<label><b>Data de Nascimento:</b></label><br>
<input type="date" name="nome" value="{{ medico?.dataNasc }}" readonly><br><br>

<label><b>CRM:</b></label><br>
<input type="text" name="nome" value="{{ medico?.crm }}" readonly><br><br>

<label><b>Especialização:</b></label><br>
<input type="text" name="nome" value="{{ medico?.especializacao.nome }}" readonly><br><br>