<body>

  <div class="cabecalho">
    <div class="name">
        <h2 class="pt-5" style="color: #17a2b8; margin-bottom: 15px;">Integrante da Equipe</h2>
        <h4 class="pt-5" style="color: black; margin-top: -60px;">Médico: {{ medicoUnidadeSaude?.medico.nome }}</h4>
          <button (click)="goToEquipe()" id="housebutton" type="button" class="btn" placement="bottom" ngbTooltip="Voltar">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z" />
              </svg>
          </button>
    </div>
  </div>

  <div class="container pt-5">

      <div class="row">

        <div class="col">
          <div class="card card-admin">
            <div class="card-body">
              <h4 class="card-title">Informações do Médico</h4>
            </div>
            <div class="card-body">
              <div class="card" style="width: 100%; bottom: 15px;">
                <div class="card-header header-admin">
                  <b>E-mail: </b>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{ medicoUnidadeSaude?.medico.usuario.email }}</li>
                </ul>
                <div class="card-header header-admin">
                  <b>Sexo: </b>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{ medicoSexo }}</li>
                </ul>
                <div class="card-header header-admin">
                  <b>Data de Nascimento: </b>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{ medicoUnidadeSaude?.medico.dataNasc | date:'dd/MM/yyyy' }}</li>
                </ul>
                <div class="card-header header-admin">
                  <b>Especialização: </b>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{ medicoUnidadeSaude?.medico.especializacao.nome }}</li>
                </ul>
                <div class="card-header header-admin">
                  <b>CRM: </b>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{ medicoUnidadeSaude?.medico.crm }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-admin">
            <div class="card-body">
              <h4 class="card-title">Dias de Trabalho</h4>
            </div>
            <div class="card-body">
              <div class="card" style="width: 100%; bottom: 15px;">
                <ng-container *ngFor="let item of diasPeriodoTrabalho">
                  <div class="card-header header-admin">
                    <b>{{ item.diaSemana }}:</b>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ item.periodos }}</li>
                  </ul>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

      </div>
      <br>
  </div>
</body>