body {
    position: relative;
    background-color: #fcfcfc;
    height: 100vh;
}

.cabecalho {
    background-color: #f5dd29;
    height: 180px;
    max-width: 100%;
    color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.05);
}

.cabecalho .admin-nome {
    margin-left: 30px;
}

.circle {
    margin-top: 20px;
}

.circle img {
    background-color: #ddd;
    border-radius: 100%;
    height: 120px;
    object-fit: cover;
    width: 120px;
}

#row-admin {
    margin-left: 25px;
}

.card-deck {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 75px;
    z-index: 1;
}

.card-deck .card {
    padding-left: 0px;
    padding-right: 20px;
    max-width: 300px;
    text-align: center;
}

.card-deck .card h5 {
    color: orange;
}

.btn-toolbar-lg {
    margin: 0 auto;
    width: 50%;
    margin-top: 25px;
}

.btn-toolbar-lg .btn-group .btn {
    text-align: center;
    margin: 0 auto;
    margin-right: 10px;
    width: 300px;
    height: 150px;
    background-color: #17a2b8;
    border-color: #17a2b8;
    font-size: large;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.05);
}

.btn-toolbar-lg .btn-group .btn h5 {
    color: black;
}