body {
    position: relative;
    background-color: #fcfcfc;
    height: 100vh;
}

.header-unidade-saude {
    background-color: #e4f3f5;
}

.card-unidade-saude {
    background-color:#f7e763;
}

.card-unidade-saude h4 {
    color: black;
}

.cabecalho {
    background-color: #17a2b8;
    height: 180px;
    max-width: 100%;
    color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.05);
}

.cabecalho .name {
    margin-left: 30px;
}