<!DOCTYPE html>
<html lang="en">


<body>
  <div class="signup-form">
    <form method="POST">
      <h3 class="text-center text-info">Cadastro Médico</h3>
      <hr>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6"><input #medicoNome type="text" class="form-control" name="first_name" placeholder="Nome"
              required="required" style="margin-left:15px; width: 310px;"></div>
          <div class="col-xs-6"><select [(ngModel)]="selectedSexo" [ngModelOptions]="{standalone: true}"
              class="custom-select custom-select-sm dropdown-select">
              <option value="" disabled selected>Sexo</option>
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
            </select></div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6"><input #medicoDataNasc type="date" class="form-control dateclass " name="datanasc"
              placeholder="Data Nascimento" required="required" style="margin-left:15px; " onfocus="(this.type='date')"
              onblur="(this.type='text')">
          </div>
          <div class="col-xs-6">
            <select [(ngModel)]="selectedEspecializacao" [ngModelOptions]="{standalone: true}"
              class="custom-select custom-select-sm dropdown-select" style="width: 225px; margin-left: 5px;">
              <option value=0 disabled selected>Especialização</option>
              <option *ngFor="let especializacao of especializacoes" value={{especializacao.id}}>
                {{especializacao.nome}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class=" form-group">
        <input #medicoCRM type="text" class="form-control" name="crm" placeholder="CRM" required="required">
      </div>
      <div class=" form-group">
        <input #medicoEmail type="email" class="form-control" name="email" placeholder="Email" required="required">
      </div>
      <div class="form-group">
        <input #medicoSenha type="password" class="form-control" name="password" placeholder="Senha"
          required="required">
      </div>
      <div class="form-group">
        <input #medicoSenhaConfirm type="password" class="form-control" name="confirm_password"
          placeholder="Confirme sua senha" required="required">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg"
          (click)="addMedico(medicoNome.value, medicoDataNasc.value, medicoCRM.value, medicoEmail.value, medicoSenha.value, medicoSenhaConfirm.value)">Cadastrar</button>
          <a id="cad-medico" href="/">Volte para tela inicial</a>
      </div>

    </form>
  </div>
</body>

</html>
<!-- <h1>Cadastro de Médico</h1>

  <label><b>Nome:</b></label>
  <input #medicoNome type="text">
  

<label><b>Sexo:</b></label><br>
<select [(ngModel)]="selectedSexo" [ngModelOptions]="{standalone: true}">
  <option value="M">Masculino</option>
  <option value="F">Feminino</option>
</select><br><br>

<label><b>Data de Nascimento:</b></label><br>
<input #medicoDataNasc type="date"><br><br>

<label><b>Especialização:</b></label><br>
<select [(ngModel)]="selectedEspecializacao" [ngModelOptions]="{standalone: true}">
  <option *ngFor="let especializacao of especializacoes" value={{especializacao.id}}>
    {{especializacao.nome}}
  </option>
</select><br><br>

<label><b>CRM:</b></label><br>
<input #medicoCRM type="text"><br><br>

<label><b>E-mail:</b></label><br>
<input #medicoEmail type="email"><br><br>

<label><b>Senha:</b></label><br>
<input #medicoSenha type="password"><br><br>

<label><b>Confirme sua senha:</b></label><br>
<input #medicoSenhaConfirm type="password"><br><br>

<button type="button" class="btn btn-primary" 
 (click)="addMedico(medicoNome.value, medicoDataNasc.value, medicoCRM.value, medicoEmail.value, medicoSenha.value, medicoSenhaConfirm.value)">
  CADASTRAR MÉDICO
</button>  -->