<body>
  <br><h2 style="text-align: center;">Solicitações de Integração</h2>

  <div class="container pt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Médico</th>
          <th scope="col">Especialização</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of medicosUnidadeSaude">
          <td>
            <button class="btn btn-secondary btn-admin" role="button" placement="top" ngbTooltip="Informações" (click)="goToInfo(item.id)">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </td>
          <td>{{ item.medico.nome }}</td>
          <td>{{ item.medico.especializacao.nome }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>