<h2>Agenda de Consultas</h2><br>

<div *ngFor="let data of datas">
  <label><h4>{{ data| date: 'dd/MM/yyyy' }}</h4></label>

  <table> 
    <tr>
      <th></th>
      <th><b>Código</b></th>
      <th><b>Nome</b></th>
      <th><b>Período</b></th>
    </tr>
    <tr *ngFor="let consulta of consultas | filterdata:data">
      <td>
        <button type="button" class="btn btn-primary" (click)="goToDetails(consulta.id)">Informações</button>
      </td>
      <td>{{ consulta.formattedId }}</td>
      <td>{{ consulta.paciente.nome }}</td>
      <td>{{ consulta.completePeriodo }}</td>
    </tr>
  </table><hr><br><br>
</div>