<div class="cabecalho">
  <div class="row" id="rowmedic">
    <div class="name">
      <h2 class="pt-5" style="color: #f5dd29;" *ngIf="tipoviewconsulta==='agenda-consultas';">Agenda de Consultas</h2>
      <h2 class="pt-5" style="color: #f5dd29;" *ngIf="tipoviewconsulta==='historico-consultas';">Histórico de Consultas
      </h2>
      <div class="row" id="rowcrm">
        <button (click)="goToHomeMedico()" id="housebutton" type="button" class="btn btn-primary px-3"><svg width="1em"
            height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z" />
            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
          </svg>

        </button>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid" style="margin-top: 25px;">
    <div *ngFor="let data of datas">
        <div class="container-fluid" id="dateid">
            <h4>{{ data| date: 'dd/MM/yyyy' }}</h4>
        </div>

        <table class="table table-striped text-center">
            <thead>
                <tr>


                    <th style="border-top: none;"><b>Código</b></th>
                    <th style="border-top: none;"><b>Nome</b></th>
                    <th style="border-top: none;"><b>Período</b></th>
                    <th *ngIf="tipoviewconsulta==='agenda-consultas';" style="border-top: none;"><b>Status</b></th>
                    <th style="border-top: none;"></th>

                </tr>
            </thead>
            <tr *ngFor="let consulta of consultas | filterdata:data">
                <td>{{ consulta.formattedId }}</td>
                <td>{{ consulta.paciente.nome }}</td>
                <td>{{ consulta.completePeriodo }}</td>
                <td *ngIf="tipoviewconsulta==='agenda-consultas';">{{ consulta.completeStatus }}</td>
                <td>
                    <button type="button" class="btn btn-secondary" style="color: blanchedalmond;" (click)="goToAnamnese(consulta.id)" placement="top" ngbTooltip="Anamnese">
            <fa-icon [icon]="faNotesMedical"></fa-icon>
          </button>
                    <button type="button" class="btn btn-secondary" style="margin-left: 10px;" (click)="goToDetails(consulta.id)" placement="top" ngbTooltip="Informações">
            <fa-icon [icon]="faSearch" ></fa-icon>
          </button>
                </td>
            </tr>
        </table>
        <hr><br><br>
    </div>
</div>