<h1>SalveTempo Médico</h1>

<label><b>Tipo de Usuário:</b></label><br>
<select [(ngModel)]="selectedTipoUsuario" [ngModelOptions]="{standalone: true}" (change)="changeTipoUsuario()">
  <option value="" selected disabled hidden>Médico</option>
  <option value="M">Médico</option>
  <option value="A">Administrador</option>
</select><br><br>

<label><b>E-mail:</b></label><br>
<input #medicoEmail type="email"><br><br>

<label><b>Senha:</b></label><br>
<input #medicoSenha type="password"><br><br>

<button type="button" class="btn btn-primary"
(click)="login(medicoEmail.value, medicoSenha.value)">
  LOGIN
</button><br><br>

<a href="redefinir-senha">Esqueceu sua senha?</a><br>
<a id="cad-medico" href="cadastro">Cadastre-se</a>