.cabecalho {
    background-color: yellow;
    height: 180px;
    max-width: 100%;
    color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.05);
}

.cabecalho .name {
    margin-left: 30px;
}

.form-group {
    margin: 0 auto;
    width: 50%;
    margin-top: 25px;
}

.form-group .col-xs-6 {
    padding-left: 20px;
}

.form-group .col-xs-6 label {
    background-size: contain, cover;
    border-radius: 3px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
}

.form-group .col-xs-6 label h6 {
    display: block;
    height: 100%;
}

.btn {
    background-color: yellow;
    border: none;
    color: black;
    text-align: center;
}

#housebutton {
    width: 100px;
    height: 25px;
    margin-top: 20px;
    font-size: large;
    text-align: center;
    margin-left: 30px;
    border: none;
}

#consultabutton {
    margin-top: 20px;
    width: 100px;
    height: 25px;
}

.btn:focus,
.btn:active {
    background-color: #cccc0e;
    border: none;
    outline: none !important;
}

.row {
    margin-bottom: 25px;
}