.cabecalho {
    background-color: #f5dd29;
    height: 180px;
    max-width: 100%;
    color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.05);
}

.cabecalho .name {
    margin-left: 30px;
}

.card {
    background-color: rgba(245, 221, 41);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 0 auto;
    width: 850px;
    margin-top: 25px;
}

.form-group {
    width: 100%;
    display: flex;
    float: left;
}

.form-group .col-xs-6 {
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    flex: 1;
    width: 100%;
    float: left;
}

.form-group .col-xs-6 label {
    background-size: contain, cover;
    border-radius: 10px;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.05); */
    padding: 6px 9px 6px 6px;
    border: 1px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0.5);
    float: left;
}

.form-group .col-xs-6 label h6 {
    display: block;
    height: 100%;
}

.btn {
    border: none;
    color: black;
    text-align: center;
}

#housebutton {
    font-size: large;
    text-align: center;
    margin-left: 10px;
    border: none;
}

#consultabutton {
    font-size: large;
    text-align: center;
    border: none;
}

.btn:focus,
.btn:active {
    background-color: #cccc0e;
    border: none;
    outline: none !important;
}

.row {
    margin-bottom: 25px;
}

form {
    margin: 0 auto;
    width: 100%;
}

.container-fluid {
    width: 800px;
    background-color: rgba(23, 162, 184, 0.9);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}